## Reading HTML table from Wikipedia page

In [37]:
import pandas as pd

## Read HTML Page from Wikipedia, get the first HTML table int Pandas dataframe 'df'

In [38]:
dfs = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M', header=0)
df = dfs[0]

In [39]:
df.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned                        NaN
1         M2A      Not assigned                        NaN
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [40]:
df.shape

(180, 3)

## Check Number of 'Not assigned'values

In [41]:
df['Borough'].value_counts()

Not assigned        77
North York          24
Downtown Toronto    19
Scarborough         17
Etobicoke           12
Central Toronto      9
West Toronto         6
York                 5
East York            5
East Toronto         5
Mississauga          1
Name: Borough, dtype: int64

## Delete 'Not assigned' Borough's from the data frame

In [42]:
df = df[df.Borough != 'Not assigned']

In [43]:
df[df['Postal Code'] == 'M5A']

  Postal Code           Borough               Neighborhood
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [44]:
df.head()

  Postal Code           Borough                                 Neighborhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

## Find no. of row and columns

In [45]:
df.shape

(103, 3)

## Get no. of Boroughs and Neighbourhoods

In [50]:
print('The dataframe has {} boroughs and {} neighborhoods.'.format(
        len(df ['Borough'].unique()), df.shape[0]
    )
)

The dataframe has 10 boroughs and 103 neighborhoods.

## Decided to use Geographical Coordinates CSV over Geocoder Google APT

In [46]:
url="https://cocl.us/Geospatial_data"
df_pc =pd.read_csv(url)
df_pc.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

## Merge Wikipedia DF and Geocodes DF to one

In [47]:
df_merged = pd.merge(left=df, right=df_pc, how='left', left_on='Postal Code', right_on='Postal Code')
df_merged.head()

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494

In [49]:
df_merged.shape

(103, 5)