## Reading HTML table from Wikipedia page

In [27]:
import pandas as pd

## Read HTML Page from Wikipedia, get the first HTML table int Pandas dataframe 'df'

In [28]:
dfs = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M', header=0)
df = dfs[0]

In [29]:
df.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned                        NaN
1         M2A      Not assigned                        NaN
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [30]:
df.shape

(180, 3)

## Check Number of 'Not assigned'values

In [31]:
df['Borough'].value_counts()

Not assigned        77
North York          24
Downtown Toronto    19
Scarborough         17
Etobicoke           12
Central Toronto      9
West Toronto         6
York                 5
East York            5
East Toronto         5
Mississauga          1
Name: Borough, dtype: int64

## Delete 'Not assigned' Borough's from the data frame

In [11]:
df = df[df.Borough != 'Not assigned']

In [22]:
df[df['Postal Code'] == 'M5A']

  Postal Code           Borough               Neighborhood
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [20]:
df.head()

  Postal Code           Borough                                 Neighborhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

## Find no. of row and columns

In [24]:
df.shape

(103, 3)